.history-container {
    padding: 1rem;
}

/*历史列表*/
.history {
    padding: 0;
    margin: 0;
}

/*历史记录项*/
.history_item {
    list-style: none;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

/*最后一个项的底部边框*/
.history_item:last-of-type {
    border-bottom: 1px solid #e5e5e5;
}

/*斑马色*/
.history_item:nth-of-type(2n) {
    background-color: #fff;
}

/*标题*/
.history_item__title {
    padding: 0 1rem;
    flex: 2;
}

/*时间*/
.history_item__time {
    padding: 0 1rem;
    flex: 2;
}

/*地址*/
.history_item__url {
    padding-right: 1rem;
    flex: 5;
}

/*删除按钮*/
.history_item__delete {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}

/*列表底部*/
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.footer__count {
    justify-content: flex-start;
    margin: 1rem;
    color: #888888;
    font-size: smaller;
}

/*删除全部按钮*/
.footer__deleteAll {
    color: #666666;
}
