.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    padding: 0 1rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0 1rem 2px rgba(0, 0, 0, 0.1);
}

.navbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}