* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    background-image: repeating-linear-gradient(30deg, transparent, transparent 1rem, #fbfbfb 1rem, #fff 2rem);
    color: #333;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #4f9bff;
}

a:active {
    color: #3e8cff;
}

/*主区域*/
.content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/*文字超出，自动截断*/
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
