.website {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

/*网址区块*/
.website__item {
    width: 24%;
    height: 10rem;
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.1);
    word-break: break-all;
    overflow: hidden;
    transition: box-shadow 150ms ease-out;
    cursor: pointer;
}

/*删除*/
.website__item > .website__item--delete {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    color: #333;
}

/*获取焦点时显示删除按钮*/
.website__item:hover > .website__item--delete {
    visibility: visible;
}

.website__item > .website__item--delete:hover,
.website__item > .website__item--delete:active {
    color: #ff2021;
    transform: scale(1.2);
    transition: transform linear;
}

.website__item:hover {
    box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 150ms ease-out;
}

/*新增*/
.website__item--add {
    border: 2px dashed #c8c8c8;
    color: #A8A8A8;
}

.website__item--add.hide {
    display: none;
}

/*表单标题*/
.add__header {
    margin-top: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

/*新增网址表单*/
.add__form fieldset {
    font-size: 14px;
    border: none;
    padding: 0;
}

/*输入*/
.add__group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add__input {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: none;
    font-size: 14px;
    flex: 1;
}

.add__input:focus,
.add__input:active {
    outline: none;
}

/*底部按钮*/
.add__btn_group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.add__btn {
    width: 25%;
    padding: 8px;
    border: none;
    outline: none;
    background-image: none;
    box-shadow: none;
    color: #333;
    cursor: pointer;
}

.add__btn:active {
    background-color: #d8d8d8;
}

.add__btn--confirm {
    background-color: #4f9bff;
    color: #fff;
}

.add__btn--confirm:active {
    background-color: #3e8cff;
}